.footer {
	&__content {
		padding: 60px 0;

		background-color: $color-bg;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}

	&__box {
		width: 100%;
		max-width: 300px;
	}

	&__logo {
		margin: 0 auto 30px auto;
	}

	&__text--about {
		padding: 0 15px;

		font-size: 18px;
		text-align: center;
	}

	&__service-link {
		white-space: nowrap;
		font-size: 22px;
		color: $color-primary;
	}

	&__text--service + &__text--service {
		margin-top: 8px;
	}

	&__title {
		margin-bottom: 30px;

		font: 36px $font-title;
	}

	&__images-wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}

	&__img {
		width: 100%;
		object-fit: cover;
	}

	&__portfolio-link {
		position: relative;

		&::after {
			content: '';
			opacity: 0;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			background-color: $color-brand;

			transition: all .3s ease;
		}

		&:hover::after {
			opacity: 0.4;
		}
	}
}

.copyright {
	background: $color-grad;

	&__text {
		padding: 15px 0;

		color: $color-second;
		text-align: center;
	}
}

//MEDIA

@media (max-width: 1160px) {
	.footer__img {
		max-height: 80px;
	}

	.footer__service-link {
		font-size: 20px;

		transition: all .2s ease;

		&:hover {
			color: $color-brand;
		}
	}

	.footer__images-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer__images-wrapper picture:nth-child(5),
	.footer__images-wrapper picture:nth-child(6) {
		display: none;
	}
}

@media (max-width: 992px) {
	.footer__box--table-hide {
		display: none;
	}

	.footer__service-link {
		font-size: 18px;
	}
}


@media (max-width: 768px) {
	.footer__box--mobile-hide {
		display: none;
	}

	.address__text {
		max-width: none;
	}
}

@media (max-width: 600px) {
	.footer__inner {
		flex-direction: column;
		align-items: center;
		gap: 50px;
	}

	.footer__box {
		max-width: none;
	}

	.footer__title {
		text-align: center;
	}
}