.slider {
	min-height: 500px;
	height: calc(100vh - 60px);

	&__img {
		width: 100%;
		min-height: 500px;

		height: calc(100vh - 60px);
		object-fit: cover;
	}

	&__list {
		position: relative;
	}

	&__item {
		width: 100%;

		position: absolute;

		opacity: 0;
		visibility: hidden;

		transition: all 0.5s ease;
	}

	&__item--active {
		visibility: visible;
		opacity: 1;
	}

	&__item-inner {
		position: relative;
	}

	&__content {
		max-width: 700px;

		position: absolute;
		top: 20vh;
	}

	&__title {
		margin-bottom: 20px;

		font: 60px/1.3 $font-title;
		font-weight: bold;
		color: $color-second;
	}

	&__text {
		margin-bottom: 40px;

		font-size: 24px;
		color: $color-second;
	}

	&__controls {
		display: flex;
		justify-content: center;
		width: 100%;
		gap: 20px;

		position: absolute;
		bottom: 12vh;
		left: 50%;
		transform: translateX(-50%);
	}

	&__btn {
		width: 100%;
		max-width: 100px;
		height: 10px;

		background-color: rgba($color-second, 0.3);
		border-radius: 2px;

		transition: all 0.5s ease;

		&:hover {
			background-color: rgba($color-second, 0.5);
		}

		&--active {
			background-color: $color-second;

			&:hover {
				cursor: default;
				background-color: $color-second;
			}
		}
	}

	&__scroll-btn {
		height: 26px;
		width: 50px;

		position: absolute;
		bottom: 4vh;
		left: 50%;
		transform: translateX(-50%);

		background: center / cover no-repeat url("../img/scroll.svg");

		transition: all 0.5s ease;

		&:hover {
			bottom: 3.2vh;
		}
	}
}

.about {
	margin-bottom: 60px;

	&__inner {
		margin-top: 40px;

		display: flex;
		align-items: center;
		gap: 50px;
	}

	&__text {
		margin-bottom: 30px;

		text-align: justify;
	}

	&__column {
		width: 100%;
		max-width: 625px;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		gap: 60px;
	}

	&__video {
		display: block;
		padding: 45px;
		padding-left: 0;
		position: relative;

		&:focus {
			outline: none;
		}

		&::after {
			content: "";
			width: 70%;

			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: -1;

			border: 5px solid $color-brand;
			border-radius: 15px;
		}
	}

	&__preview-wrapper {
		position: relative;

		&::after {
			content: "";
			width: 60px;
			height: 60px;

			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			transition: all 0.3s ease;

			background: center / contain no-repeat url("../img/play.svg");
		}

		&:hover::after {
			width: 70px;
			height: 70px;
		}
	}

	&__preview {
		object-fit: cover;

		border-radius: 5px;
	}
}

.section-icons {
	padding: 60px 0;

	background-color: $color-bg;

	&--white {
		background-color: white;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	&__item {
		width: 100%;
		margin: 0 auto 50px;

		visibility: visible;
		opacity: 1;

		transition: all 1s ease;

		&--hidden {
			visibility: hidden;
			opacity: 0;
			transform: scale(0.8);
		}

		&--inactive {
			opacity: 0.3;

			transition: all 0.6s ease;

			&:hover {
				opacity: 0.65;
			}
		}

		&--wide {
			max-width: 400px;
		}

		&--narrow {
			max-width: 200px;

			transition: all 0.2s ease;

			&:hover {
				color: $color-brand;
			}
		}
	}

	&__item-img {
		min-width: 80px;
		min-height: 80px;
		margin: 0 auto 20px;
	}

	&__desc-btn {
		&:active .section-icons__item-title {
			color: $color-brand-dark;
		}
	}

	&__item-title {
		padding: 0 15px;

		color: $color-primary;
		text-align: center;
		font-size: 24px;
	}

	&__btn {
		left: 50%;
		transform: translateX(-50%);
	}

	&__desc-wrapper {
		height: 0;
		margin-bottom: 0px;
		opacity: 0;

		position: relative;

		border: 5px solid $color-brand;
		border-radius: 15px;

		transition: all 0.5s ease;

		&--open {
			margin-bottom: 60px;
			opacity: 1;
		}
	}

	&__desc {
		visibility: visible;
		opacity: 1;
		padding: 40px 50px;

		position: absolute;
		top: 0;
		left: 0;

		text-align: justify;

		transform: scaleY(1);

		transition: all 0.3s ease;

		&--hidden {
			visibility: hidden;
			opacity: 0;

			transform: scaleY(0);
		}
	}
}

.production {
	&__text {
		text-align: justify;
		margin-bottom: 30px;
	}

	&__content {
		margin-bottom: 60px;
	}

	&__equipment {
		margin-bottom: 60px;
	}

	&__equipment-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
	}

	&__equipment-item {
		width: 100%;
		max-width: 600px;
		padding-bottom: 20px;
		padding-left: 60px;
		margin-bottom: 20px;

		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 1px;

			position: absolute;
			bottom: 0;
			left: 0;

			background-color: rgba($color-brand, 0.4);
		}

		&::after {
			content: "";
			width: 40px;
			height: 40px;

			position: absolute;
			top: -4px;
			left: 0;

			background: center / contain no-repeat url("../img/equip.svg");
		}
	}
}

.feedback {
	margin-bottom: 100px;

	&__content-list {
		position: relative;
	}

	&__content-item {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 30px;

		position: absolute;

		opacity: 0;
		visibility: hidden;

		transition: all 0.5s ease;

		&--visible {
			opacity: 1;
			visibility: visible;
		}
	}

	&__author {
		padding-left: 130px;
	}

	&__img-wrapper {
		max-width: 300px;
		height: 460px;

		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 100%;

			position: absolute;
			top: 30px;
			bottom: 30px;
			left: -130px;
			z-index: -1;

			border: 5px solid $color-brand;
			border-radius: 15px;
		}
	}

	&__img {
		width: 100%;
		min-width: 240px;
		height: 100%;
		object-fit: cover;

		border-radius: 5px;
	}

	&__name {
		font: bold 28px $font-title;
		color: $color-brand;
	}

	&__job {
		margin-bottom: 110px;

		font-family: $font-title;
	}

	&__blockquote {
		margin-bottom: 70px;

		position: relative;

		text-align: justify;

		&::after,
		&::before {
			content: "";
			width: 50px;
			height: 40px;

			position: absolute;

			background: center / cover no-repeat url("../img/cite.png");
		}

		&::before {
			top: -70px;
		}

		&::after {
			bottom: -70px;
			right: 0;
		}
	}

	&__blockquote-text {
		margin-bottom: 30px;
	}

	&__controls {
		margin-bottom: 60px;
		display: flex;
		gap: 30px;
		justify-content: center;
	}
}

.contacts {
	margin-bottom: 100px;

	&__contents {
		width: 100%;
		max-width: 340px;
	}

	&__inner {
		display: flex;
		gap: 40px;
		justify-content: space-between;
	}

	&__map,
	&__map iframe {
		width: 100%;
		height: 100vh;
		max-height: 480px;
	}
}

// MEDIA

@media (max-width: 1280px) {
	.section-icons__item--wide {
		max-width: 300px;
	}

	.feedback__author {
		padding-left: 30px;
	}

	.feedback__img-wrapper:after {
		left: -30px;
	}
}

@media (max-width: 992px) {
	.about__inner {
		flex-direction: column;
	}

	.about__column {
		max-width: none;
	}
}

@media (max-width: 840px) {
	.production__equipment-list {
		grid-template-columns: repeat(1, 1fr);
	}

	.production__equipment-item {
		max-width: none;
	}
}

@media (max-width: 768px) {
	.slider__title {
		font-size: 48px;
	}

	.slider__text {
		font-size: 20px;
	}

	.section-icons__item--wide {
		max-width: 200px;
	}

	.section-icons__item-title {
		font-size: 20px;
	}

	.section-icons__desc-btn {
		cursor: default;
	}

	.feedback__content-item {
		grid-template-columns: repeat(1, 1fr);
		gap: 60px;
	}

	.feedback__img-wrapper {
		height: 300px;
		max-width: none;
	}

	.contacts__inner {
		flex-direction: column;
	}

	.contacts__contents {
		max-width: none;
	}
}

@media (max-width: 480px) {
	.about__buttons {
		flex-direction: column;
		gap: 30px;
	}

	.slider__title {
		font-size: 36px;
	}

	.slider__content {
		top: 15vh;
	}

	.about__video {
		padding: 20px;

		&::after {
			width: 100%;
		}
	}

	.section-icons__item {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
	}

	.section-icons__item-img {
		margin-bottom: 0;
	}

	.section-icons__item {
		max-width: none;
	}

	.section-icons__item-title {
		text-align: left;
	}

	.section-icons__list {
		margin-bottom: 30px;
	}

	.section-icons__desc-btn {
		display: flex;
		align-items: center;
	}

	.section-icons--brands {
		display: none;
	}

	.feedback {
		margin-bottom: 0;
	}
}

@media (max-height: 640px) and (max-width: 380px) {
	.slider__controls {
		bottom: 40px;
	}

	.slider__scroll-btn {
		display: none;
	}

	.slider__content {
		top: 60px;
	}

	.slider__title {
		font-size: 30px;
	}
}