@mixin font-face($font-family, $url, $font-style, $weight) {
	@font-face {
		font-family: $font-family;
		src: url("#{$url}.woff2") format("woff2"), url("#{$url}.woff") format("woff");
		font-style: $font-style;
		font-weight: $weight;
		font-display: swap;
	}
}

@include font-face("FiraSans", "#{$fonts-root}FiraSans-Regular", normal, 400);
@include font-face("FiraSans", "#{$fonts-root}FiraSans-Medium", normal, 500);
@include font-face("IstokWeb", "#{$fonts-root}IstokWeb-Regular", normal, 400);
@include font-face("IstokWeb", "#{$fonts-root}IstokWeb-Bold", normal, 700);